<!doctype html>
<html>
<head>
	<title>Cuberoot Learnings</title>
</head>
<body style="background:url(https://wallpaper-house.com/data/out/10/wallpaper2you_373579.gif)" width="100" height="100">
	<h1>Welcome To Cuberoot Learnings</h1>
	<p>This website is created by the team of <b>Cuberoot</b> for the enthuestic developers who are egear to learn the most emoerginf technologies in the world. We will Provide the courses Regarding : </p>
	<ul>
	<li>Data Science and Analytics</li>
	<li>Machine Learning</li>
	<li>Deep Learning</li>
	<li>Python Programming</li>
	<li>Internet of Things</li>
	<li>Insights of MatLab</li>
	<li>Indepths of C Programming</li>
	<li>GUI Development in Python</li>
	<li>Flask for Web Development</li>
	<li>Elementry Mathematics for Machine Learning</li>
	<li>Programming with Java</li>
	</ul>
	<img src="home2.jpg" height="800" width="1400">
	
</body>
</html>